// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.table-product i {
  font-size: 18px;
}

.sidebar {
  background-color: #343a40 !important;
  border: none !important;
}

.messaging {
  width: 80%;
  margin: 0 auto;
  padding-top: 120px;
}

.direct-chat-messages {
  height: 420px !important;
}

.js-message-content {
  width: 95%;
}
