.add_fields {
  float: right;
}

.product_image {
  width: 45px;
  height: 45px;
}

.form-image, .minus-attr {
  margin-top: 35px;
}

.product_image_thumb {
  max-width: 100% !important;
}

.select2-selection {
  display: block;
}

.select2-results__options {
  background: #ddd;
  padding: 0;
}
